
#vis {
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vega-actions {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.vega-actions a {
  margin-right: 15px;
}

.marks {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.marks {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.marks span.marks-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.marks .marks-image {
  position: relative;
  overflow: hidden;
}
.marks .marks-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.marks .marks-image span.marks-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.marks .marks-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.marks .marks-content p {
  margin: 0;
  color: inherit;
}
.marks .marks-content span.marks-title {
  line-height: 48px;
}
.marks .marks-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.marks .marks-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.marks .marks-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}
